<app-default-login-layout
 title="Sign-in and start today"
 primaryBtnText="Sign-up now"
secondaryBtnText="Login now"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimarybutton]="!signupForm.valid"
><form [formGroup]="signupForm" >
   <app-primary-input  formControlName="name" inputName="name" type="text" label="Your Name" placeholder="lucas" >
    
      <img src= "../../../assets/svg/mail.png" >
  
     </app-primary-input>
   <app-primary-input  formControlName="email" inputName="email" type="email" label="Email" placeholder="lucas@gmail.com" >
    
    <img src= "../../../assets/svg/mail.png" >

   </app-primary-input>
   <app-primary-input formControlName="passwordConfirm"  inputName="passwordConfirm" type="password" label=" Confirme sua Senha">
    
    <img src= "../../../assets/svg/icone-passwordjpg.jpg" >

   </app-primary-input>
   <app-primary-input formControlName="password"  inputName="password" type="password" label="Senha">
    
    <img src= "../../../assets/svg/icone-passwordjpg.jpg" >

   </app-primary-input>

</form>
</app-default-login-layout>
